<div class="wideRow">
    <label for="preg"  class="itemNarrow">Titular:</label>
    <input type="text" class="itemWide" id="preg" name="titular" value="<%= entrada.titular %>" placeholder="Titular" autocomplete="off"/>
</div>


<div class="wideRow">
    <label for="resp"  class="itemNarrow">Artículo:</label>
    <input type="text" class="itemWide" id="resp" name="articulo" value="<%= entrada.articulo %>" placeholder="Artículo" autocomplete="off"/>
</div>

<br/>
<a href="/goback" class="button">Cancelar</a>

<input type="submit" value="Guardar">