
    <h1>Contacto</h1>

    <div class="card card-outline-secondary">
        <div class="card-header">
            <img src="images/logocandas141x180.png" alt="Logo Club Ajedrez Candás">
        </div>
        <div class="card-block">
            <h6>Club Deportivo Básico Ajedrez Candás</h6>
            <h6>Centro Polivalente La Baragaña Alta (planta 2)</h6>
            <h6>33430 Candás (Asturias)</h6>
            <h6>Aptdo. Correos nº 20</h6>
            <h6>Teléfono: 666551350</h6>
            <h6><a href="mailto:ajedrezcandas@telefonica.net">E-mail: ajedrezcandas@telefonica.net</a></h6>
        </div><!-- card-block -->
    </div><!-- card -->
